# Customer Success Associate P3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Carga de datos desde CSV
df = pd.read_csv("Examen/data.csv", delimiter = ";", decimal = ".", encoding ="utf-8")
df.columns= ['date', "unity", 'service', 'sence', 'period', 'sp','so','distance', 'icf']
df['date'] =  pd.to_datetime(df['date']) #Date transformada en tipo datetime64
df.head(8)

,date,unity,service,sence,period,sp,so,distance,icf
0,2019-01-08,U2,201,IDA,001 - Pre Nocturno Madrugada,3,3,32.12,1.00
1,2019-01-08,U2,201,IDA,002 - Nocturno,11,11,32.12,1.00
2,2019-01-08,U2,201,IDA,003 - Transición Nocturno,10,11,32.12,1.00
3,2019-01-08,U2,201,IDA,004 - Punta Mañana,20,19,32.12,0.95
4,2019-01-08,U2,201,IDA,005 - Transición Punta mañana,8,8,32.12,1.00
5,2019-01-08,U2,201,IDA,006 - Fuera Punta Mañana,24,24,32.12,1.00
6,2019-01-08,U2,201,IDA,008 - Fuera de Punta Tarde,28,28,32.12,1.00
7,2019-01-08,U2,201,IDA,009 - Punta Tarde,27,20,32.12,0.74

In [4]:
#Información del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454847 entries, 0 to 454846
Data columns (total 9 columns):
date        454847 non-null datetime64[ns]
unity       454847 non-null object
service     454847 non-null object
sence       454847 non-null object
period      454847 non-null object
sp          454847 non-null int64
so          454847 non-null int64
distance    454847 non-null float64
icf         454847 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 31.2+ MB